*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wavemain {
  height: 4rem;
  display: grid;
  grid-template-columns: repeat(10,1fr);
  position: absolute;
  width: 100%;
  top: 70%;
}

.circle {
  border-radius: 50%;
  background-color:#fff7ef;
  z-index: 1;

}