@media screen and (max-width:997px){
    .main-1img1 {
        width: 100%;
        height: 15rem;
    }

    .m8clmn{
        justify-content: center;
    }

    .main-8img1 {
        top: 17%;
    }

    .main-8img3 {
        top: -14%;
        left: 24vw;
    }

    .main-8img4 {
        left: 12%;
        top: 26%;
    }

    .main-2 {
        top: 2rem;
    }

    .main-3 {
        top: 5rem;
    }

    .main-8, .main-9, footer {
        top: 8rem;
    }

    .main-8img2 {
        right: 3%;
        width: 14vw;
        top: 14%;
    }
    @media screen and (max-width:767px){
        .main-1img1 {
            height: 10rem;
        }

        .main-2 p, .main-3 p {
            margin-top: 20px;
            width: 80%;
            font-size: 2vw;
        }

        .main-8img4 {
            left: 3%;
            top: 24%;
        }

        .main-8img2 {
            right: 0%;
        }

        .main-8img3 {
            top: -10%;
            left: 18vw;
        }

        
.g-3 {
    padding: 0px;
}
    }

    @media screen and (max-width:512px){
        .main-2 h1, .main-3 h1 {
            margin: 20px;
        }

        .main-2imgn2 {
            width: 13vw;
            left: 43%;
            top: 5%;
        }

        

.main-3imgn1 {
    width: 13vw;
    left: 44%;
    top: 19%;
}

.main-3imgn3 {
    left: 5%;
    top: 71%;
}

.main-3imgn2 {
    width: 22vw;
    top: 49%;
    right: 3%;
}

.main-3 {
    top: 3rem;
}

.main-8 {
    height: 10rem;
    }

    .main-8, .main-9, footer {
        top: 4rem;
    }


.main-1imgn2 {
    right: 16% !important;
    top: -8%;
    width: 12vw;
}

.main-8img1 {
    top: 7%;
}

.main-8img2 {
    right: 5%;
    top: 3%;
}

.main-8img3 {
    left: 30vw;
    top: -20%;
}

.main-8img4 {
    left: 15%;
    top: 13%;
}

.main-8 p {
    margin-bottom: 1rem;
}
}
}